{% extends 'AppCoder/padreblog.html' %}

{% load static %}

{% block contenidoQueCambia %}


    {% if form.errors %}

    <p style="color: red;">Los datos son incorrectos, revisar</p>

    {% endif %}

    <form action="{%url 'New' %}" method="POST">{% csrf_token %}

        <form action="/AppCoder/cursoFormulario/" method="post">{% csrf_token %}

        <p>Curso: <input type="text" name="nombre" id="nombre"></p>

        <p>Camada: <input type="number" name="camada" id="camada"></p>

        <!-- <table>

            {{ form.as_table }}

        </table> -->


        <input type="submit" value="Crear" />

    </form>

  

{% endblock %}