{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <!--Aquí va lo que cambia, y lo asociado a esta vista-->
    <p>Resultados para la camada {{camada}}</p>
    
    {% if cursos %}

    <ul>
        
        {% for curso in cursos %}
            <li>
                {{curso}}
            </li>
        {% endfor %}
            
    </ul>

    {% endif %}
   
    <!-- <ul>
    {% for curso in lista %}
        <li>{{curso.nombre}}</li>        
    {% endfor %}
    </ul> -->
    
{% endblock %}