{% extends "AppCoder/padreblog.html" %}

{% load static %}
    
{% block contenidoQueCambia %}

    <!-- <h1>{{object}}</h1> -->

    <h1>{{ post.titulo }}</h1><a href="{% url 'actualizarPost' post.pk %}">Editar</a> | <a href="{% url 'BorrarPost' post.pk %}">Borrar</a><br/>
    <small>Por: {{post.autor.first_name }} {{ post.autor.last_name }} - Fecha: {{ post.fecha_post }}</small><br/>
    <hr>
    <br/>
    {{ post.body }}


    <br/><br/>
    <a href="{% url 'listaPost' %}">Regresar</a>

{% endblock %}