{% extends "AppCoder/padreblog.html" %}

{% load static %}
    
{% block contenidoQueCambia %}

    <!-- <h1>{{object}}</h1> -->

    <h1>Post</h1>
    <ul>
        {% for post in object_list %}

        <li><a href="{% url 'DetallePost' post.pk %}">
            <p>Titulo: {{ post.titulo }} </p> <a href="{% url 'actualizarPost' post.pk %}">Editar Post</a> | <a href="{% url 'BorrarPost' post.pk %}">Borrar Post</a>
        </a>
            <p>Etiqueta: {{ post.etiqueta_titulo }} - Autor: {{ post.autor.first_name }} {{ post.autor.last_name}} | 
                Correo : {{post.autor.email}} </p>
                <p>Fecha: {{ post.fecha_post }} </p><br/>
            <p>Posteo: {{ post.body }} </p>
            
        </li>

    {% endfor %}
</ul>

{% endblock %}