{% extends "AppCoder/padreblog.html" %}

{% load static %}
    
{% block contenidoQueCambia %}

    <!-- <h1>{{object}}</h1> -->

    <h1>Post</h1>
    <ul>
        {% for post in object_list %}

        <li><a href="{% url 'DetallePost' post.pk %}">
            <p>Titulo: {{ post.titulo }} </p>
        </a>
            <p>Etiqueta: {{ post.etiqueta_titulo }} - Autor: {{ post.autor.first_name }} {{ post.autor.last_name}} | Correo : {{post.autor.email}}</p><br/>
            <p>Posteo: {{ post.body }} </p>
            
        </li>

    {% endfor %}
</ul>

{% endblock %}