{% extends 'AppCoder/padreblog.html' %}

{% block contenidoQueCambia %}

{% load crispy_forms_tags %}

    <!--Aquí va lo que cambia, y lo asociado a esta vista-->
    <h1 class="text-center">Tu Perfil:</h1>
    
    <div class="text-center">
        <h2 class="account-heading">Usuario: {{user.username}}</h2>
        <p class="text-secondary">Correo: {{user.email}}</p>
        <p class="text-secondary">Nombre: {{user.first_name}}</p>
        <p class="text-secondary">Apellido: {{user.last_name}}</p>
        <p>Avatar:</p>
        <img height="150px" src="{{url}}" onerror="this.onerror=null" href="{% static 'AppCoder/assets/img/user.jpg' %)">
    </div>

    <div class="text-center">
        <a href={% url 'AgregarAvatar' %}>Editar Avatar</a>
    </div>
{% endblock %}